.navBar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;

  .navbarContainer {
    width: 100%;
    max-width: 100rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    color: var(--darkGrey);
    padding: 0 3rem;

    .navbarLeft {
      display: flex;
      flex: 2;
      align-items: center;
      gap: 0.5rem;
      justify-content: left;
      width: 40%;

      .myIcon {
        // width: 25%;
      }

      .myIcon:hover {
        cursor: pointer;
      }
      .name {
        font-size: 35px;
        font-weight: bold;
        color: var(--green);
        margin-right: 25px;
      }
      .name:hover {
        cursor: pointer;
      }
    }

    .navbarRight {
      display: flex;
      flex: 10;
      align-items: center;
      justify-content: right;
      gap: 1rem;
      .contactBtn {
        font-size: 16px;
        letter-spacing: 1.5px;
      }

      .navbarList {
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
          margin-right: 2rem;

          li {
            font-family: var(--font-mono);
            font-size: 16px;
            color: var(--green);
            padding-bottom: 5px;
            border: 1px solid transparent;
          }
        }
        li:hover {
          cursor: pointer;
          color: var(--brown);
          border-bottom: 1px solid var(--brown);
          // animation: growLine 0.75s 1s;

          // @keyframes growLine {
          //   0% {
          //     width: 0;
          //   }
          //   100% {
          //     width: 100%;
          //   }
          // }
        }
      }
    }
  }
}
