.navBar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;

  .navbarContainer {
    width: 100%;
    max-width: 100rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    color: var(--darkGrey);
    padding: 0 3rem;

    .navbarLeft {
      display: flex;
      flex: 2;
      align-items: center;
      gap: 0.5rem;
      justify-content: left;
      width: 40%;

      .myIcon {
        // width: 25%;
      }

      .myIcon:hover {
        cursor: pointer;
      }
      .name {
        font-size: 35px;
        font-weight: bold;
        color: var(--green);
        margin-right: 25px;
      }
      .name:hover {
        cursor: pointer;
      }
    }

    .navbarRight {
      display: flex;
      flex: 10;
      align-items: center;
      justify-content: right;
      gap: 1rem;

      .navbarList {
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
          margin-right: 2rem;
          li:hover {
            cursor: pointer;
            color: var(--gold);
          }
        }
      }
    }
  }
}
