.floatingDiv {
  background-color: white;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 18px;
  padding: 0px 25px 0px 25px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;

  img {
    width: 42px;
    height: 42px;
  }
  span {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--green);
  }
}
