.floatingDiv {
  -webkit-clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  background-color: var(--rice);
  color: var(--green);
  // border-radius: 18px;
  padding: 10px 25px 10px 25px;
  height: 6rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
  text-align: center;

  img {
    width: 42px;
    height: 42px;
  }
  span {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--green);
  }
}
