.aboutMe {
  width: 100%;
  height: 100vh;
  max-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .aboutMeContainer {
    width: 67rem;
    display: flex;

    .contentLeft {
      padding: 2rem;
      flex: 2;
      // border: 1px solid white;
      .header {
        display: flex;
        align-items: center;
        gap: 1rem;

        .title {
          font-family: var(--font-mono);
          color: var(--lightGrey);

          .number {
            margin-right: 10px;
            color: var(--gold);
          }
        }
        .line {
          height: 1px;
          flex: 2;
          margin-left: 10px;
          background-color: var(--darkGrey);
          opacity: 0.6;
        }
      }

      .paragraph {
        padding: 1.8rem 0 0 1.8rem;
        line-height: 1.2;
      }

      .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-content: space-evenly;
        // background-color: red;
        margin-top: 1rem;
        row-gap: 15px;
        width: 100%;

        .gridItem {
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 6px;

          .icon {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    .contentRight {
      flex: 1;

      .photoWrapper {
        // box-sizing: border-box;
        margin: auto;
        width: 16rem;
        height: 16rem;
        margin-top: 3rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 5px;

        &::before {
          content: "";
          border: 2px solid var(--gold);
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 14px;
          left: 14px;
          border-radius: 5px;
        }
        .photo {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 2;
          border-radius: 5px;

          &:hover::after {
            animation: removeCover 1s ease-out forwards;

            @keyframes removeCover {
              0% {
                opacity: 0.1;
              }
              100% {
                opacity: 0;
              }
            }
          }

          &::after {
            content: "";
            background-color: var(--gold);
            opacity: 0.1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
